<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <title>Pico Editor</title>
    <link rel="stylesheet" href="{{ base_url }}/plugins/{{ yocto_dir }}/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ base_url }}/plugins/{{ yocto_dir }}/chosen/chosen.min.css" type="text/css" />
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body>
    <div id="saving">Saving...</div>
    <div id="dirtree">
      <div class="page">
        <h2>Directory Tree</h2>
        <script id="tree-tpl" type="text/nano-template">
          <li data-page="{path}">
            <a href="#" class="link tree" title="Create subdirectory">/{path}</a>
            <span class="pagecount" title="Number of pages"><span data-icon="3" aria-hidden="true" class="icon"></span> {content}</span>
            <span class="mediacount" title="Number of medias"><span data-icon="8" aria-hidden="true" class="icon"></span> {media}</span>
            <a href="#" class="delete" title="Delete subtree">4</a>
          </li>
        </script>
        <ul class="tree filelist"></ul>
      </div>
    </div>
    <div id="medias">
      <div class="page">
        <h2>Media</h2>
        <select class="tree-filter" data-width="50%">
          <option value="/">/</option>
        </select>
        <script id="img-tpl" type="text/nano-template">
          <li data-page="{page}" data-name="{name}" data-url="{{ base_url }}/{dir}{name}">
            <a href="#" class="link img" title="Insert link">
              <img src="{{ base_url }}/{dir}{name}" />
              <span class="name">{name}</span>
            </a>
            <a href="#" class="view" title="View image">5</a>
            <a href="#" class="rename" title="Rename image">T</a>
            <a href="#" class="delete" title="Delete">4</a>
          </li>
        </script>
        <script id="file-tpl" type="text/nano-template">
          <li data-page="{page}" data-name="{name}" data-url="{{ base_url }}/{dir}{name}">
            <a href="#" class="link file" title="Insert link">
              <span class="file">F</span>
              <span class="name">{name}</span>
            </a>
            <a href="#" class="view" title="Download">D</a>
            <a href="#" class="rename" title="Rename file">T</a>
            <a href="#" class="delete" title="Delete">4</a>
          </li>
        </script>
        <script id="load-tpl" type="text/nano-template">
          <li class="loading" data-id="{id}">
            <a href="#" class="link file" title="Uploading ...">
              <span class="file">F</span>
              <span>{name}</span>
            </a>
            <div class="bar"></div>
          </li>
        </script>
        <ul class="list filelist">
          <!-- The files go here -->
        </ul>
        <div id="upload">
          <input id="fileupload" type="file" name="medias[]" data-url="{{ base_url }}/admin/media/new" multiple />
        </div>
        <div class="progress">
          <div class="bar" style="width: 0%;"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="sidebar">
    <div class="controls">
      <a href="#" class="new btn" title="New">1</a>
      <a href="#" class="tree btn" title="Tree">G</a>
      <a href="#" class="media btn" title="Medias">8</a>
      <a href="{{ base_url }}/admin/logout" class="logout btn" title="Logout">2</a>
    </div>
    <select class="tree-filter" tabindex="-1" multiple="" data-placeholder="Filter pages..." data-isfilter="true" data-width="100%">
      <option value=""></option>
    </select>
    <ul class="nav">
      {% for page in pages %}
      <!--<li><a href="#" data-url="{{ page.url }}" class="post"><span data-icon="3" aria-hidden="true"></span>{% if page.title %}{{ page.title }}{% else %}Untitled{% endif %}</a>-->
      <li data-path="{{ page.url | shorturl }}"><a href="#" data-url="{{ page.url }}" class="post"><span data-icon="3" aria-hidden="true"></span>{{ page.url | shorturl }}</a>
      <a href="{{ page.url }}" target="_blank" class="view" title="View">5</a>
      <a href="#" data-url="{{ page.url }}" class="media" title="Media Manager">8</a>
      <a href="#" data-url="{{ page.url }}" class="delete" title="Delete">4</a></li>
      {% endfor %}
    </ul>
  </div>

  <div id="main">
    <div id="epiceditor"></div>

    <script type="text/javascript">
      var base_url = '{{ base_url }}';
      var yocto_dir = '{{ yocto_dir }}';
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="{{ base_url }}/plugins/{{ yocto_dir }}/epiceditor/js/epiceditor.min.js"></script>
    <script src="{{ base_url }}/plugins/{{ yocto_dir }}/fileupload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ base_url }}/plugins/{{ yocto_dir }}/fileupload/js/jquery.iframe-transport.js"></script>
    <script src="{{ base_url }}/plugins/{{ yocto_dir }}/fileupload/js/jquery.fileupload.js"></script>
    <script src="{{ base_url }}/plugins/{{ yocto_dir }}/nano/jquery.nano.js"></script>
    <script src="{{ base_url }}/plugins/{{ yocto_dir }}/chosen/chosen.jquery.min.js"></script>
    <script src="{{ base_url }}/plugins/{{ yocto_dir }}/manager.js"></script>
  </div>

</body>
</html>
